<form id="pocketwatch-form">
  <label for="basic-url" class="form-label">Vanity Pocket Watch</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="brand-input-label">brand</span>
    <input type="text" class="form-control" id="brand-input" aria-describedby="brand-input-label">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="model-input-label">model</span>
    <input type="text" class="form-control" id="model-input" aria-describedby="model-input-label">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="price-input-label">price</span>
    <input type="text" class="form-control" id="price-input" aria-describedby="price-input-label">
  </div>
  <button type="submit">Add Pocket Watch</button>
</form>
<script src="/js/pocketwatch.js"></script>
