<!-- I want to be able to make duplicates of this form and use the same handler -->
<form class="search-form">
  <label for="basic-url" class="form-label">Giphy Turtle Search</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-input-label-body">Term</span>
    <input type="text" class="form-control" name="search-input" aria-describedby="search-input-label-body">
  </div>
  <button type="submit">Search</button>
</form>

<form class="search-form">
  <label for="basic-url" class="form-label">Giphy Turtle Search</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-input-label-body">Term</span>
    <input type="text" class="form-control" name="search-input" aria-describedby="search-input-label-body">
  </div>
  <button type="submit">Search</button>
</form>

<form class="search-form">
  <label for="basic-url" class="form-label">Giphy Turtle Search</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-input-label-body">Term</span>
    <input type="text" class="form-control" name="search-input" aria-describedby="search-input-label-body">
  </div>
  <button type="submit">Search</button>
</form>
<form class="search-form">
  <label for="basic-url" class="form-label">Giphy Turtle Search</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-input-label-body">Term</span>
    <input type="text" class="form-control" name="search-input" aria-describedby="search-input-label-body">
  </div>
  <button type="submit">Search</button>
</form>
<form class="search-form">
  <label for="basic-url" class="form-label">Giphy Turtle Search</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search-input-label-body">Term</span>
    <input type="text" class="form-control" name="search-input" aria-describedby="search-input-label-body">
  </div>
  <button type="submit">Search</button>
</form>

<!-- moved to other_main -->
{{!-- <script src="/js/turtle-search.js"></script> --}}